<div class="ui container">

    <h2>Salvar contato</h2>

    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm" class="ui form" novalidate>

        <div class="field">
            <label for="nome">Nome</label>
            <input  type="text" 
                    placeholder="Digite o nome" 
                    name="nome" 
                    [(ngModel)]="contato.nome"
                    #nome="ngModel"
                    required
                    >

                <div class="ui success message">
                      <div class="header">Form Completed</div>
                </div>
        </div>

        <div class="field">
            <label for="email">Email</label>
            <input  type="email" 
                    placeholder="Digite o email"
                    name="email"
                    [(ngModel)]="contato.email"
                    #email="ngModel"
                    required
                    >
        </div>

        <div class="field">
           <label for="telefone">Telefone</label>
           <input   type="text" 
                    name="telefone"
                    [(ngModel)]="contato.telefone"
                    placeholder="Digite o telefone"
                    #telefone="ngModel"
                    required
                    >
        </div>

        <div class="ui buttons">
          <a class="ui button" routerLink="/">Voltar</a>
          <div class="or"></div>
          <button class="ui positive button" [disabled]="!contatoForm.form.valid">Salvar</button>
        </div>
    </form>


</div>